.nav {
    background-color: rgb(26, 156, 176);
    color: #f7f7f7;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav_links>a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 576px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
