.btn {
    color: #f7f7f7;
    background-color: rgb(26, 156, 176);
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    height: 36px;
    padding: 0 16px;
    width: 100%;
    margin-top: 10px;
}
